In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\asus\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [2]:
import mysql.connector as connector

In [18]:
connection = connector.connect(user = "root", password = "excellent123", db = "LittleLemonDB")

In [20]:
cursor = connection.cursor()

In [21]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [23]:
# Fetch all the results
results = cursor.fetchall()

# Print the table names
for table in results:
    print(table)

('bookings',)
('customer_details',)
('menu',)
('menu_items',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff_information',)

In [27]:
# SQL query
query = """
SELECT Customers.Customer_Name, Customers.Contact_Details, Orders.Total_Cost
FROM Customer_Details as Customers
JOIN Orders ON Customers.Customer_ID = Orders.Customer_ID
WHERE Orders.Total_Cost > 60
"""

# Execute the query
cursor.execute(query)

# Fetch all the results
results = cursor.fetchall()

# Print the retrieved details
for row in results:
    customer_name, contact_details, total_cost = row
    print("Customer Name:", customer_name)
    print("Contact Details:", contact_details)
    print("Total Cost:", total_cost)
    print()

Customer Name: Ferdi
Contact Details: 0895
Total Cost: 300

Customer Name: Ferdi
Contact Details: 0895
Total Cost: 350